
<div class="pokemon">
  <%= image_tag "https://howztuff.com/wp-content/uploads/2020/01/Pokemon-Logo-howztuff.com_.jpg", :class => "logo"%>
</div>

<h1>Sign In</h1>

<% if flash[:error].present? %>
  <p class="error">
    <%= flash[:error] %>
  </p>
<% end %>

<div class="container">

  <div class="cpuPokemon">
      <img class="fixRandomGifPosition" src="https://files.pokefans.net/sprites/xy/animationen/<%= @rand_pokemon1.name %>.gif" alt="refresh">
  </div>

  <div class="userPokemon">
    <img id="p1" src="https://files.pokefans.net/sprites/xy/animationen/back/pikachu.gif" />
  </div>

  <div class="controls">
      <%= form_tag login_path do %>
        <%= label_tag :name %>
        <%= text_field_tag :name %>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <br>
        <%= submit_tag "Sign in" %>
      <% end %>
  </div>

  <div class="battle">
    <table>
      <tbody>
        <tr>
          <td class="fight">Fight</td>
          <td>Bag</td>
        </tr>
        <tr>
          <td>Pokemon</td>
          <td>Run</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<script>
$( document ).ready(function() {

  let cpu1 = {
    name: "<%= @rand_pokemon1.name %>",
    health: 50,
    attack: 20
  };

  let p1 = {
    name: "pikachu",
    health: 50,
    attack: 25
  };


  $('.fight').on('click', function (event){
    cpu1['health'] -= p1['attack'];
    //print text.
    if (cpu1['health'] <= 0) {
      console.log( cpu1['name'] + " fainted.");
      $('#cpu1').prop( "src", "https://files.pokefans.net/sprites/xy/animationen/" + "<%= @rand_pokemon1.name %>" + ".gif")
    };
    });

});
</script>
